/* -------------normalizar navegador-------------- */
:root{
    --bg-rosa: #BF4974;
    --bg-rojo: #A61420;
    --bg-rosaClaro: #D977A5;
    --bg-blanco: #F2F2F2;
    --bg-negro: #0D0D0D;
}
/*bg-rosa_cla{
background-color: #F294B6;
}
bg-rosa_osc{
    background-color: #734656;
}
bg-claro{
    background-color: #F2EAE9;
}
bg-negro{
    background-color: #0D0D0D;
}
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
body{
    /*background-color: rgb(255, 255, 255);*/
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;/*100% del viweport height alto visible util del navegador*/
    width: 100vw;/*100% del viweport width*/
    /*utilizar estas unidades unicamente en el body*/
    display: flex;
}
/*header{
    background-color: #3bb66a;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    }
*/

main{
 height: 100%;
 width: 60%;
 background-color: var(--bg-blanco);
}

aside{
    background-color: var(--bg-rosa);
    color: var(--bg-negro);
    width: 30%;
    height: 100%;

}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil{
    width: 100%;
   /* text-align: center;*/
   display: grid;  /*para centrar el texto e imagen*/
   place-items: center; /*para centrar el texto*/
    .foto{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        overflow: hidden;
    }
}

.datosPersonales{
    padding-top: 1em;
    width: 100%;
    padding: 2em;
.listaDP{
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    li{
        list-style: none;
    }
}
}

.redes {
    height: 150px;
    width: 100%;
    background-color: #F2A0BE;
    padding: 1.5em;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
}

.educacion {
    min-height: 200px;
    width: 100%;
    background-color: #F25260;
    padding: 2em;
}
/*  ordenamiento de elementos*/
.d-flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.contenedorFlexbox{
    display: flex;
    background-color: #F2809F;
    overflow-x: auto;
    gap: 10px;
}
.tarjeta{
    background-color: #734656;
    color: white;
    border-radius: 1em;/*Para redondear las esquinas*/
    flex-basis: 100%;
    flex-grow: 1; /*Para que no se expanda*/
    flex-shrink: 1; /*Para que no se encoja*/
    flex: 1 1 100px;/*Para que no se expanda ni se encoja*/
    padding: 1em;/*Para que el texto no se pegue a los bordes*/
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.tarjetaTitulo{
    font-size: 1.5em;
    font-weight: bold;
}
.tarjetaContenido{
    font-size: 1em;
    background-color: white;
    color: gray;
    padding: 1em;
    border-radius: 1em;
}