/* -------------normalizar navegador-------------- */
:root{
    --bg-rosa: #BF4974;
    --bg-rojo: #A61420;
    --bg-rosaClaro: #D977A5;
    --bg-blanco: #F2F2F2;
    --bg-negro: #0D0D0D;
}
/*bg-rosa_cla{
background-color: #F294B6;
}
bg-rosa_osc{
    background-color: #734656;
}
bg-claro{
    background-color: #F2EAE9;
}
bg-negro{
    background-color: #0D0D0D;
}
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.linea {
    display: flex;
    align-items: center;
    gap: 10px;
}

.barra{
    flex-grow: 1;
    height: 1px;
    background-color: var(--bg-negro);
    max-width: 100%;
}

a{
    color: var(--bg-rosaClaro);
}

body{
    /*background-color: rgb(255, 255, 255);*/
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;/*100% del viweport height alto visible util del navegador*/
    width: 100vw;/*100% del viweport width*/
    /*utilizar estas unidades unicamente en el body*/
    display: flex;
}
/*header{
    background-color: #3bb66a;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    }
*/

main{
 height: 100%;
 width: 70%;
 background-color: var(--bg-blanco);
}

aside{
    background-color: var(--bg-rosa);
    color: var(--bg-negro);
    width: 30%;
    height: 100%;

    
}

.datos{
    margin-bottom: 1.5em;
    display: grid;
    place-items: center;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil{
    width: 100%;
   /* text-align: center;*/
   display: grid;  /*para centrar el texto e imagen*/
   place-items: center; /*para centrar el texto*/
    .foto{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        overflow: hidden;
    }
}

.datosPersonales{
    width: 100%;
    padding: 1.5em 1.5em 0.5em 1.5em;
.listaDP{
    flex-direction: column;
    gap: .5em;
    margin-top: 1em;
    li{
        list-style: none;
    }
}
}

span{
    color: var(--bg-rosaClaro);
}

.info{
    padding: 2em;
}
.experiencia{
    padding: 2em;
}
.lenguajes{
    padding: 2em;
}

.redes {
    height: 150px;
    width: fit-content;
    padding: 1.5em 1.5em .5em 1.5em;
    display: grid;
    gap: .5em;
    width: fit-content;
    grid-template-columns: repeat(2, 1fr);
}

.educacion {
    min-height: 200px;
    width: 100%;
    padding: 0 1.5em .5em 1.5em;
}
/*  ordenamiento de elementos*/
.d-flex{
    display: flex;
}
.column{
    flex-direction: column;
}

.box{
    background-color: var(--bg-rosaClaro);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    outline: 7px double var(--bg-rosaClaro);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
.iconL{
    display: flex;
    padding: 3em;
    gap: 2em;
}
/* .contenedorFlexbox{
    display: flex;
    background-color: #F2809F;
    overflow-x: auto;
    gap: 10px;
}
.tarjeta{
    background-color: #734656;
    color: white;
    border-radius: 1em;/*Para redondear las esquinas*/
    /* flex-basis: 100%;
    flex-grow: 1; /*Para que no se expanda*/
    /* flex-shrink: 1; Para que no se encoja */
    /* flex: 1 1 100px;Para que no se expanda ni se encoja */
    /* padding: 1em;Para que el texto no se pegue a los bordes */
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
} */ 
/* .tarjetaTitulo{
    font-size: 1.5em;
    font-weight: bold;
}
.tarjetaContenido{
    font-size: 1em;
    background-color: white;
    color: gray;
    padding: 1em;
    border-radius: 1em;
} */ 