@import url('../../assets/css/fawesome-all.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    width: 540px;
    height: 960px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 50px 30px 50px 30px;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262223;
}
.logo{
    font-size: 70px;
    color: #A69C94;
    width: 480px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
input{
    width: 474px;
    height: 66px;
    padding-left: 60px;
    padding-right: 40px;
    border-radius: 30px;
    border: solid 1px #A69C94;
    color: #A69C94;
}
.fa-circle-user{
    position: absolute;
    left: 29em;
    top:27.8em;
    color: #8C8177;
}
.fa-lock{
    position: absolute;
    left: 29em;
    top: 33.1em;
    color: #8C8177;
}
.btn{
    width: 474px;
    height: 66px;
    background-color: #D9BEA7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    text-decoration: none;
    color: #262223;
    font-size: 18px;
}
.btn:hover{
    background-color: #F2DFCE;
}
.cambiar{
    text-align: center;
    text-decoration: none;
    color: #A69C94;
    font-size: 15px;
}
.reg{
    color: #594839;
}
#lock2{
    top: 38.5em;
}