
img {
    width: 121px;
    background: #C4E5F2;
    border-radius: 50%;
    position: absolute;
    top: 1.5em;
    right: 2.5em;
}

.container {
    border-radius: 23px;
    display: flex;
    background: #1E82D9;
}


.box {
    padding: 5em;
    position: relative;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: #160101;
    background: #160101;
}
h3 {
    color: #82D8D9;
}