:root{
    --naranja:#EE6729;
    --naranjaClaro: #F9CBB6;
    --blanco: #FFFFFF;
    --negro: #151515;
    --gris: #585858;
    --grisClaro: #AFAFAF;
    --grisExtraClaro: #DFDFDF;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    max-width: 414px;
    background-color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body{
    background-color: var(--negro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
    width: 80%;
}

/* 
hacer un archivo aparte de responsive y importarlo al resto del css a lo ultimo

@import url(url)
@media screen and (max-width:1024px){
    header{

    } 

    flex 0 0 calc(50% -1em); calcular el ancho o altura
    @media screen and (orientation: vertical/portrair/landscape){
    header{

    }   


    tablets y moviles 768px
    moviles 480px
    escritorio 1024 px

} */
 